div.header .header_container_lectures,
div.header .header_container_Instructors,
div.header .header_container_courses,
div.header .header_container_textbooks {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 25px;
}

div.header .header_container_lectures:before,
div.header .header_container_Instructors:before,
div.header .header_container_courses:before,
div.header .header_container_textbooks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1;
}

div.header .header_text {
  color: #fff;
  line-height: 1.1;
  font-size: 42px;
  margin-top: 20px;
  z-index: 2;
}

div.header .header_text h1 {
  font-weight: 400;
}

div.header .header_nav {
  display: flex;
  margin-top: 20px;
  padding: 0;
  z-index: 2;
  list-style: none;
}

div.header .header_nav a {
  font-size: 14px;
  text-decoration: none;
  color: #7d7e7f;
  margin-right: 9px;
}

div.header .header_nav a:hover {
  color: #47828a;
}

div.header .header_nav a.active {
  pointer-events: none;
  cursor: text;
}

div.header .header_nav a:focus {
  outline: none;
}

div .header .header_nav li:not(:first-child) a::before {
  color: white;
  content: "/";
  margin-right: 9px;
  font-size: 13px;
}
