.home_page {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.home_page .container {
  width: 1170px;
  margin: 40px auto;
  padding: 0 15px;
}

.home_page .page {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
}

.home_page .page .row {
  display: flex;
  flex-direction: column;
}

.home_page .row .top_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 40px;
}

.home_page .row .top_part h2 {
  font-size: 30px;
  color: #464749;
  font-weight: 400;
}

.home_page .row .top_part a {
  margin-right: 30px;
  padding: 6px 12px;
  line-height: 1.42;
  color: #5ba5af;
  border: 1px solid #5ba5af;
}

.home_page .row .top_part a:hover {
  background-color: #5ba5af;
  color: white;
}

.home_page .row .main_part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.home_page .row .main_part:last-of-type {
  margin-bottom: 0;
}
