.main_page {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.main_page .container {
  width: 1170px;
  margin: 40px auto;
  padding: 0 15px;
}

.main_page .page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
